.bd-search {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.bd-search .icon {
    left: 10px;
}

#navbar-main {
    height: 60px;
}

#navbar-collapsible {
    padding: 0;
}

#navbar-icon-links {
    margin: 0 15px 0 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-light .navbar-nav li a.nav-link {
    padding: 0 5px 0 0;
}

#navbar-start {
    height: 42px;
}

.navbar-brand {
    height: 42px;
    padding: 0px;
}

@media (max-width:959.98px) {

    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid,
    .navbar-expand-lg>.container-lg,
    .navbar-expand-lg>.container-md,
    .navbar-expand-lg>.container-sm,
    .navbar-expand-lg>.container-xl {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.bd-sidebar {
    margin-top: 0;
}

nav#bd-docs-nav a.internal {
    padding: 5px 15px !important;
}

nav#bd-docs-nav ul ul {
    padding-left: 15px;
}


p.sphx-glr-signature,
p.sphx-glr-timing,
.sphx-glr-download,
.sphx-glr-download-link-note {
    display: none;
}


.sphx-glr-thumbcontainer::before {
    display: none !important;
}

.sphx-glr-thumbcontainer {
    margin: 1px 0 !important;
    background-color: gray;
    min-height: auto !important;
    padding: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 1px solid rgba(220, 220, 220, 1.0) !important;
}

.sphx-glr-thumbcontainer:hover {
    box-shadow: none !important;
    border: 1px solid rgba(190, 190, 190, 1.0) !important;
}

.sphx-glr-thumbcontainer figcaption {
    padding: 0 !important;
}

.sphx-glr-thumbcontainer a.headerlink {
    display: none;
}

.sphx-glr-thumbcontainer p {
    margin: 0 !important;
}

.sphx-glr-thumbcontainer .figure,
.sphx-glr-thumbcontainer figure {
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.sphx-glr-thumbcontainer .figure p.caption {
    padding: 0 !important;
}

.sphx-glr-thumbcontainer .figure p.caption:hover {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.sphx-glr-thumbcontainer img {
    display: none !important;
}

.sphx-glr-thumbcontainer .figure img {
    display: none !important;
}

.sphx-glr-thumbcontainer a.internal {
    position: relative !important;
    padding: .75rem !important;
    border: 0 !important;
    text-align: left;
}

.sphx-glr-thumbcontainer a.internal:hover {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-decoration: none;
}

/* For version 5.0 */
.sphx-glr-thumbcontainer .sphx-glr-thumbnail-title {
    padding: .75rem !important;
}


/* Disable tooltip */
.sphx-glr-thumbcontainer::after {
    display: none !important;
}

.sphx-glr-thumbcontainer[tooltip]::before,
.sphx-glr-thumbcontainer[tooltip]::after,
.sphx-glr-thumbcontainer[tooltip]:hover::before,
.sphx-glr-thumbcontainer[tooltip]:hover::after {
    display: none;
}

dt:target,
span.highlighted {
    background-color: #ffff0020;
}

.section {
    margin-bottom: 1.5rem;
}


/* API DOC */

p.rubric {
    margin: 2rem 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

table.autosummary {
    margin-top: -1rem;
}

table.autosummary td,
table.autosummary th {
    border: 0px;
    border-bottom: 1px solid rgba(220, 220, 220, 1.0);
}

dl.py {
    margin-top: 2rem;
}

dl.field-list>dt {
    padding-left: 0;
}

p.sphx-glr-script-out {
    display: none;
}