[flake8]
show-source = True
ignore = W605,E402,W503
max-line-length = 120
application-import-names = smac
extend-exclude =
    venv
    .venv
    build
    .git
    __pycache__
    docs
    build
    dist
    examples/python/spear_qcp/*
extend-ignore =
    E203  # No whitespace before ':' in [x : y]
    E731  # No lambdas — too strict