.bd-search {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.bd-search .icon {
    left: 10px;
}

#navbar-collapsible {
    padding: 0px;
}

#navbar-icon-links {
    margin: 0 15px 0 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-light .navbar-nav li a.nav-link {
    padding: 0 5px 0 0;
}

@media (max-width:959.98px){.navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid,.navbar-expand-lg>.container-lg,.navbar-expand-lg>.container-md,.navbar-expand-lg>.container-sm,.navbar-expand-lg>.container-xl{
    padding-right:15px;padding-left:15px;
}}


p.sphx-glr-signature, p.sphx-glr-timing, .sphx-glr-download, .sphx-glr-download-link-note {
    display: none;
}


.sphx-glr-thumbcontainer::before {
    display: none !important;
}

.sphx-glr-thumbcontainer {
    margin: 1px 0px !important;
    background-color: grey;
    min-height: auto !important;
    padding: 0px !important;
    width: 100% !important;
    border: 0px !important;
}

.sphx-glr-thumbcontainer a.headerlink {
    display: none;
}

.sphx-glr-thumbcontainer p {
    margin: 0px !important;
}

.sphx-glr-thumbcontainer .figure {
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}

.sphx-glr-thumbcontainer .figure p.caption {
    padding: 0px !important;
}

.sphx-glr-thumbcontainer .figure p.caption:hover {
    box-shadow: 0 !important;
    -webkit-box-shadow: 0 !important;
}

.sphx-glr-thumbcontainer .figure img {
    display: none;
}

.sphx-glr-thumbcontainer a.internal {
    position: relative !important;
    padding: 30px 15px !important;
    background-color: rgb(128, 128, 128) !important;
    color: white !important;
    border: 0px !important;
    vertical-align: middle;
    border-radius: 5px;
}

.sphx-glr-thumbcontainer a.internal:hover {
    background-color: rgb(60, 60, 60) !important;
    border: 0px !important;

    box-shadow: 0 !important;
    -webkit-box-shadow: 0 !important;

    text-decoration: none;
}

/* Disable tooltip */
.sphx-glr-thumbcontainer::after {
    display: none !important;
}

.sphx-glr-thumbcontainer:hover {
    border: 0px !important;
    box-shadow: none !important;
}

.sphx-glr-thumbcontainer[tooltip]::before, .sphx-glr-thumbcontainer[tooltip]::after, 
.sphx-glr-thumbcontainer[tooltip]:hover::before, .sphx-glr-thumbcontainer[tooltip]:hover::after {
    display: none;
}