name: Tests

on:
  # Manual trigger option in github
  workflow_dispatch:

  # Trigger on push to these branches
  push:
    branches:
      - master
      - development

  # Trigger on a open/push to a PR targeting one of these branches
  pull_request:
    branches:
      - master
      - development

  # Every dat at 7AM
  schedule:
    - cron: '0 7 * * *'

env:

  # Arguments used for pytest
  pytest-args: >-
    --forked
    --durations=20
    --timeout=300
    --timeout-method=thread
    --full-trace
    -s
    -v

  # Arguments used for code-cov which is later used to annotate PR's on github
  code-cov-args: >-
    --cov=smac
    --cov-report=xml

jobs:
  ubuntu:

    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.kind }}
    strategy:
      fail-fast:  false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        kind: ["conda", "source", "dist"]

        exclude:
          # Exclude all configurations *-*-dist, include one later
          - kind: "dist"

          # Exclude windows as bash commands wont work in windows runner
          - os: windows-latest

          # Exclude macos as there are permission errors using conda as we do
          - os: macos-latest

        include:
          # Add the tag code-cov to ubuntu-3.7-source
          - os: ubuntu-latest
            python-version: 3.7
            kind: "source"
            code-cov: true

          # Include one config with dist, ubunut-3.7-dist
          - os: ubuntu-latest
            python-version: 3.7
            kind: "dist"

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Conda install
      if: matrix.kind == 'conda'
      run: |
        # Miniconda is available in $CONDA env var
        $CONDA/bin/conda create -n testenv --yes pip wheel gxx_linux-64 gcc_linux-64 swig python=${{ matrix.python-version }}
        $CONDA/envs/testenv/bin/python3 -m pip install --upgrade pip
        $CONDA/envs/testenv/bin/pip3 install -e .[all]

    - name: Source install
      if: matrix.kind == 'source'
      run: |
        python -m pip install --upgrade pip
        pip install -e .[all]

    - name: Dist install
      if: matrix.kind == 'dist'
      run: |
        python -m pip install --upgrade pip
        python setup.py sdist
        last_dist=$(ls -t dist/smac-*.tar.gz | head -n 1)
        pip install $last_dist[all]

    - name: Store git status
      id: status-before
      run: |
        echo "::set-output name=BEFORE::$(git status --porcelain -b)"

    - name: Tests
      timeout-minutes: 45
      run: |
        if [[ ${{ matrix.kind }} == "conda" ]]; then
          export PATH="$CONDA/envs/testenv/bin:$PATH"
        fi

        if [ ${{ matrix.code-cov }} ]; then
          pytest ${{ env.pytest-args }} ${{ env.code-cov-args }} test
        else
          pytest ${{ env.pytest-args }} test
        fi

    - name: Check for files left behind by test
      if: ${{ always() }}
      run: |
        before="${{ steps.status-before.outputs.BEFORE }}"
        after="$(git status --porcelain -b)"
        if [[ "$before" != "$after" ]]; then
            echo "git status from before: $before"
            echo "git status from after: $after"
            echo "Not all generated files have been deleted!"
            exit 1
        fi

    - name: Upload coverage
      if: matrix.code-cov && always()
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        verbose: true
